body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1100%;
  font-family: Cookie;
  margin: 0;
  color: #51eaea;
  text-align: center;
}

.bg-1 {
  background-color: #FFFFFF;
  color: #FFFFFF;
  height: 100%;
  width: 100%
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ping-pong-ball {
  animation: ball-bounce .8s infinite alternate;
  -webkit-animation: ball-bounce .8s infinite alternate;
  font-family: Karla;
  font-size: 15px;
}

#ball {
  padding-top: 50px;
  overflow: visible;
  z-index: 2;
}

#handle {
  overflow: visible;
  width: 39%;
  transform-origin: bottom right;
  animation: paddle-flick .8s infinite alternate;
  -webkit-animation: paddle-flick .8s infinite alternate;
}

#paddle {
  width: 61%;
  transform-origin: bottom left;
  animation: paddle-flick .8s infinite alternate;
  -webkit-animation: paddle-flick .8s infinite alternate;
}

#description {
  font-size: 30px;
  font-family: Karla;
  text-align: center;
  color: black;
}

@keyframes ball-bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(80%);
  }
}

@webkit-keyframes ball-bounce {
  from {
    transform: translateY(80%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes paddle-flick {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@webkit-keyframes paddle-flick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
